.Navbar {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
  box-sizing: border-box;
}

.Icon {
  color: white;
}

.Anchor {
  display: block;
  color: white;
  font-size: 16px;
  padding: 5px 8px;
}

.Anchor:hover {
  background-color: rgb(47, 46, 46);
  border: 1px solid black;
  border-radius: 6px;
  color: white;
}

.Logo {
  display: block;
  background-color: gold;
  font-weight: 900;
  font-size: 20px;
  color: black;
  padding: 5px 8px;
  border: 1px solid;
  border-radius: 6px;
}

.Logo:hover {
  color: black;
}

.Logo:focus {
  border: 2px dotted white;
}

@media (max-width: 520px) {
  .Navbar {
    padding: 10px 3px;
  }
  .Logo {
    font-size: 20px;
  }
}
