.SearchField {
  position: relative;
  width: 60%;
  margin: 0;
}

/* .Select {
  position: absolute;
  top: 2px;
  padding: 5px 0;
  border: none;
  border-right: 1px solid rgb(65, 63, 63);
  outline: none;
  box-sizing: border-box;
} */

.SearchInput:focus {
  border: 1px solid gold;
  border-radius: 3px;
}

.SearchInput {
  width: 100%;
  padding: 7px 30px 7px 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
}

.Icon {
  position: absolute;
  padding: 7px;
  right: 0;
  color: gray;
}
